.bg-home{
    background-color:#ffffffe6;
    height: fit-content;
    margin: 20%;
    padding: 8% 2% 8% 2%;
}
.texto-h1{
    color: #344d67;
    font-weight: light;
    font-size: 40px;
    margin-bottom: 1rem;
}
.texto-h2{
    color: #344d67;
    font-weight: 500;
    margin-bottom: 1rem;
    
}
.texto{
    color: #344d67;
    font-size: 16px;
}