.sticky{
    position: sticky;
    top: 0px;
    padding: 0px;
}

.barra-superior{
    background-color:#344d67;
    margin: 0%;
    padding: 5%;
}

.barra-texto{
    color: #6eccaf;
}

.s-active{
    color: #344d67;
    background-color: #6eccaf;
    box-sizing: border-box;
    margin: 1rem;
    padding: 10px;
    border-radius: 5px;
}

.n-active{
    color: #6eccaf;
}
.navbar-toggler{
    border: 0px;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(110, 204, 175)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}