@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500;900&display=swap');

body {
  margin: 0;
  background-image: url("C:\Users\Maria Belem\Documents\1-DESARROLLO WEB\5- FRONT END\pagina_web_rick_y_morty\Material de referencia\rickymorty.jpg");
  background-size: cover;
  background-attachment: fixed;
}

* {
  font-family: 'Raleway'; 
}
